@import '../../../scss/variables.scss';

.sizes {
  position: fixed;
  background-color: darkcyan;
  z-index: 100000;
  top: 100px;
  left: 0;
}

.news {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  position: relative;

  .row {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 -15px;
  }
}

.news--spinner {
  position: relative;
  width: 100%;
  margin-top: 50px;
  // height: calc(100vh - #{$header-height});

  .lds-ripple {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
  }
}

.news--alert {
  display: block;
  flex: 1 1 100%;
  text-align: center;
  margin-top: 50px;

  p {
    width: 300px;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: $alert-color;
    color: $white;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;

  }
}

.news--add-news {
  display: block;
  position: fixed;
  bottom: 10px;
  left: 0;
  text-align: center;
  margin-top: 50px;
  width: 100%;
}