@import './scss/variables.scss';

.container-fluid {
  width: 100vw;
}

.container {

  padding: 10px;
  margin: 0 auto;

  @include tablet {
    width: 100%;
  }

  @include desktop {
    width: 1200px;
    padding: 25px 0;
  }
}